body {
	font-family: "Roboto", sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: left;
}
.p_1 {
	padding: 10px;
}
.p_2 {
	padding: 20px;
}
.p_3 {
	padding: 30px;
}
.p_4 {
	padding: 40px;
}
.p_5 {
	padding: 50px;
}
.border-radius {
	border-radius: 10px;
}
.bg-main {
	background-color: rgb(241, 241, 241);
}
.color-primary {
	color: #28abb9 !important;
}
.body-nav {
	overflow-y: auto;
}
.bottom-style {
	overflow: hidden;
	z-index: 99;
	position: sticky;
	background-color: #fff;
	padding-bottom: 5px;
}
/* .main-content {
	padding-top: 80px;
} */
.card-nav {
	border: none;
	height: calc(100% - 40px);
}
.stay-top {
	position: fixed;
	/* right: 0; */
	top: 20;
	left: 220;
	width: calc(100% - 310px);
	z-index: 1030;
}
.main-div {
	width: 100%;
	border-radius: 10px;
}
.top-head {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}
#wrapper {
	width: 100%;
	padding-left: 10px;
}
.navbar {
	box-shadow: 0 0.46875rem 2.1875rem rgba(31, 10, 6, 0.03), 0 0.9375rem 1.40625rem rgba(31, 10, 6, 0.03), 0 0.25rem 0.53125rem rgba(31, 10, 6, 0.05), 0 0.125rem 0.1875rem rgba(31, 10, 6, 0.03);
}
/* The side navigation menu */
.sidenav {
	box-shadow: 0 0.46875rem 2.1875rem rgba(31, 10, 6, 0.03), 0 0.9375rem 1.40625rem rgba(31, 10, 6, 0.03), 0 0.25rem 0.53125rem rgba(31, 10, 6, 0.05), 0 0.125rem 0.1875rem rgba(31, 10, 6, 0.03);
	height: calc(100% - 40px); /* 100% Full-height */
	width: 250px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	margin: 20px;
	border-radius: 10px;
	background-color: #fff; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.menu-title {
	display: block;
	white-space: nowrap;
	transition: all 0.2s;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.menu-list li a {
	display: block;
	line-height: 2.5rem;
	height: 2.5rem;
	padding: 0 1.5rem 0 1.95rem;
	position: relative;
	border-radius: 0.35rem;
	color: #6c757d;
	outline: none;
	text-decoration: none;
	white-space: nowrap;
	margin: 0.1rem 0;
}

.menu-list li a:hover {
	color: #181b1d;
}

.icon-item {
	text-align: center;
	width: 24px;
	height: 34px;
	line-height: 34px;
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -17px;
	font-size: 1.1rem;
	opacity: 0.45;
	transition: color 0.2s;
}

.icon-item:hover,
.down-item:hover {
	opacity: 1;
}

.down-item {
	text-align: center;
	width: 24px;
	height: 34px;
	line-height: 34px;
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -17px;
	font-size: 1.1rem;
	opacity: 0.45;
	left: auto;
	right: -5px;
	font-size: 1.3rem;
}

#sidebarToggle {
	background-color: #fff;
	font-size: 25px;
	transition: opacity 0.5s;
	opacity: 0.45;
}

#sidebarToggle:hover {
	transition: opacity 0.5s;
	opacity: 0.8;
}

.applogo {
	display: block;
}

#sidebar.hide-sidebar {
	width: 80px;
}

.icon-item {
	margin-left: 10px;
}

.list-item {
	cursor: pointer !important;
}

.list-item.active a {
	color: #28abb9 !important;
	opacity: 1 !important;
}

.list-item.active .icon-item {
	opacity: 1 !important;
}

.item {
	text-indent: 0;
}

a[aria-expanded="false"] > .down-item {
	transform: rotate(-90deg);
	transition: transform 0.5s;
}

#sidebar.hide-sidebar .applogo {
	display: none !important;
}

#sidebar.hide-sidebar #sidebarToggle {
	/* padding-top: 0px !important; */
	margin-left: 5px !important;
	font-size: 25px;
}

#sidebar.hide-sidebar .icon-item {
	transition: 0.5s;
	display: block !important;
	margin-left: 10px;
}

#sidebar.hide-sidebar .menu-title {
	transition: 0.5s;
	display: none !important;
}

#sidebar.hide-sidebar .menu-list-child {
	display: none !important;
	transition: display 0.5s;
}

#sidebar.hide-sidebar .item {
	text-indent: -99rem;
}

#sidebar.hide-sidebar .down-item {
	display: none !important;
}

#sidebar.hide-sidebar .navLabel {
	text-indent: -99rem;
}

#sidebar.hide-sidebar .navLabel-child {
	text-indent: -99rem;
}

#main {
	overflow: hidden !important;
	transition: margin-left 0.8s;
	padding: 20px 20px 20px 30px;
	margin: 0 0 0 250px;
}

#sidebar {
	transition: width 0.7s;
}

#main.hide-sidebar {
	margin-left: 100px;
	padding: 20px 20px 20px 10px;
}

#sidebar.hide-sidebar:hover {
	transition: width 0.5s;
	width: 250px;
}

#sidebar.hide-sidebar:hover .navLabel {
	text-indent: 0;
}

#sidebar.hide-sidebar:hover .navLabel-child {
	text-indent: 0;
}

#sidebar.hide-sidebar:hover .applogo {
	transition: display 0.5s;
	display: block !important;
}

#sidebar.hide-sidebar:hover .menu-title {
	transition: display 0.5s;
	display: block !important;
}

#sidebar.hide-sidebar:hover .down-item {
	transition: display 0.5s;
	display: block !important;
}

#sidebar.hide-sidebar:hover .item {
	text-indent: 0;
}

#sidebar.hide-sidebar:hover .menu-list-child.show {
	display: block !important;
}

#sidebar.hide-sidebar:hover #sidebarToggle {
	/* padding-top: 0px !important; */
	margin-left: auto !important;
	transition: margin-left 0.5s;
	font-size: 25px;
}

.dropdown-toggle::after {
	content: none;
}

.dropdown-menu {
	box-shadow: 0 0.46875rem 2.1875rem rgba(31, 10, 6, 0.03), 0 0.9375rem 1.40625rem rgba(31, 10, 6, 0.03), 0 0.25rem 0.53125rem rgba(31, 10, 6, 0.05), 0 0.125rem 0.1875rem rgba(31, 10, 6, 0.03);
	margin-top: 20px;
	min-width: 20rem !important;
}

@media (min-width: 992px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}
	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	background-color: #28abb9;
	border-color: #fff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media (max-width: 640px) and (max-height: 320px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
	.navbar-collapse {
		flex-basis: 0 !important;
		flex-grow: 0 !important;
	}
	.navbar-nav {
		flex-direction: row !important;
	}
	.navbar-nav .nav-item.dropdown {
		margin-left: 10px !important;
	}
	.navbar-nav .dropdown-menu {
		position: absolute !important;
		margin-top: 10px !important;
		min-width: 15rem !important;
		max-width: 15rem !important;
	}
}

@media (max-width: 720px) and (max-height: 320px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
	.navbar-collapse {
		flex-basis: 0 !important;
		flex-grow: 0 !important;
	}
	.navbar-nav {
		flex-direction: row !important;
	}
	.navbar-nav .nav-item.dropdown {
		margin-left: 10px !important;
	}
	.navbar-nav .dropdown-menu {
		position: absolute !important;
		margin-top: 10px !important;
		min-width: 15rem !important;
		max-width: 15rem !important;
	}
}

@media (max-width: 1080px) and (max-height: 720px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
	.navbar-collapse {
		flex-basis: 0 !important;
		flex-grow: 0 !important;
	}
	.navbar-nav {
		flex-direction: row !important;
	}
	.navbar-nav .nav-item.dropdown {
		margin-left: 10px !important;
	}
	.navbar-nav .dropdown-menu {
		position: absolute !important;
		margin-top: 10px !important;
		min-width: 15rem !important;
		max-width: 15rem !important;
	}
}
